/* GENERAL FORMATTING */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.clearfix {
    overflow: auto;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  min-width: 1000px;
  background-color: #002040;
}

body, #content, #left-nav, #right-nav {
  min-height: 800px;
}

/* TEXT FORMATTING */

h1, h2, h3, h4, p {
  text-align: left;
  display: block;
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h3, h4 {
  margin: 0px;
}

h1, h2, h1 span, h2 span {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.3em;
  line-height: 150%;
}

h1, h1 span {
  font-size: 32px;
}

h2, h2 span {
  font-size: 24px;
}

.byline {
  display: block;
}

.byline img {
  display: inline-block;
  float: left;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.byline a {
  display: inline-block;
  color: #13639f;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

p.abstract {
  font-size: 18px;
  font-weight: 100;
  margin-top: 1.5em;
  margin-bottom:2em;
  line-height: 170%;
  letter-spacing: 0.05em;
}

/* PRIMARY LAYOUT FORMATTING */

#content {
  position: relative;
  display: block;
  height: 100%;
  overflow: auto;
}

.slide-contents {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
     -moz-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
       -o-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
          transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
       -o-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.slide-contents.offscreen.left, .slide-contents.offscreen.right {
  visibility: hidden;
  opacity: 0;
}

.slide-contents.offscreen.left {
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
       -o-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-contents.offscreen.right {
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
       -o-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

#slide-nav {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 60px;
  background: #00192e;
}

#left-nav, #right-nav {
  position: fixed;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1000;
}

#left-nav {
  left: 0;
  text-align: right;
}

#right-nav {
  right: 0;
  text-align: left;
}

#tooltip {
  position: absolute;
  opacity:0;
  z-index: 2000;
  padding: 4px 10px;
  border-radius: 20px;
  background: #00192e;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

#tooltip span {
  font-weight: 700;
  margin-right:10px;
}

/* MAP VIZ SLIDE */

.vizslide h3 {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
  margin: 0 10px;
}

.vizslide h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #f2b06f;
}

#ridebarchart-container,
#mapviz-container {
  position: relative;
  display: block;
  width: 800px;
  margin: auto;
}

#ridebarchart-container {
  height: 100px;
  margin-bottom: 15px;
}

#mapviz-container {
  min-height: 500px;
}

#map-container, #map-commentary {
  position: relative;
  display: inline-block;
  float: left;
  min-height: 100%;
  text-align:left;
}

#map-container {
  width: 500px;
}

#map-commentary {
  width: 300px;
}

.bar {
  fill: #033c66;
}

.bar:hover, .bar-selected {
  fill: #13639f;
}

.bar, .bar-selected {
  cursor: pointer;
  transition: fill 150ms ease-in-out;
  stroke: #002040;
  stroke-width: 1px;
}

#ridebarchart-container svg text.xlabel,
#ridebarchart-container svg text.xlabel.selected {
  opacity: 1;
  fill: #ffffff;
  font: 14px;
  font-weight: 700;
  text-anchor: middle;
  text-transform: uppercase;
}

#ridebarchart-container svg text.xlabel {
  fill: #033c66;
}

#map-legend, #grid-legend {
  position: absolute;
  display: block;
  bottom: 0px;
  height: 35px;
  width: 200px;
  margin-bottom: 20px;
}

.lg_txt {
  font-size: 10px;
  fill: #ffffff;
}

.map-stat {
  margin-top: 40px;
}

.map-stat, .stat, .stat-label {
  display: block;
  text-align: left;
}

.stat {
  font-weight: 300;
  font-size: 24px;
}

.stat-label {
  font-weight: 700;
  font-size: 14px;
  color: #13639f;
  text-transform: uppercase;
}

/* GRID VIZ SLIDE */

#gridviz-container {
  position: relative;
  display: block;
  width: 800px;
  margin: auto;
  text-align: left;
  padding-top: 20px;
}

#gridviz-container svg {
  margin-top: 20px;
}

#gridviz-container svg text.xlabel,
#gridviz-container svg text.ylabel {
  fill: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

#gridviz-container svg text.xlabel {
  text-anchor: middle;
}

#gridviz-container svg text.am-pm {
  fill: #13639f;
  font-size: 9px;
  font-weight: 300;
  text-anchor: middle;
  text-transform: uppercase;
}

.grid-tile {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  stroke: #002040;
  stroke-width: 1px;
}

#gridviz-container .bar {
  fill: #ffffff;
}

#gridviz-container .bar:hover, #gridviz-container .bar-selected {
  fill: #cccccc;
}

#gridviz-container h4{
  width: 800px;
}

#gridviz {
  position: relative;
}

.month-selector {
  display: block;
  margin: 10px 0;
  height: 30px;
}

.month-selector h3, .month-selector .btn-round {
  float: left;
  display: inline-block;
}

/* ABOUT THE VISUALIZATION */
#about-container {
  position: relative;
  display: block;
  width: 800px;
  margin: auto;
  text-align: left;
  padding-top: 20px;
  overflow: auto;
}

#about-container h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  font-family: 'Libre Baskerville', serif;
}

#about-container h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #f2b06f;
  margin: 10px 20px;
}

#about-container h3:last-of-type {
  margin-bottom: 50px;
}

#about-container p {
  line-height: 1.5em;
  font-size: 16px;
  margin: 10px 20px;
}

#about-container a, #about-container a:hover {
  font-size: 16px;
  line-height: 1.5em;

}

#about-container a {
  color: #13639f;
}

#about-container a:hover {
  color: #033c66;
}

/* UI ELEMENTS */
button, .btn-round {
  display: inline-block;
  background: #033c66;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
}

.text-btn {
  border-radius: 20px;
  line-height: 40px;
  min-height: 40px;
  padding: 0 30px;
}

.slide-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
  border-radius: 100%;
}

button:hover, .btn-round:hover, .slide-btn.selected, .btn-round.tiny:hover {
    background: #13639f;
}

.btn-round, .pulse-shadow {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    border-radius: 100%;
}

.disabled, .btn-round.tiny.disabled:hover {
  opacity: .1;
  cursor: default;
  background-color: #002040;

}

#left-nav .btn-round, #right-nav .btn-round {
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.slide-btn img {
    display: inline;
    width: 14px;
    height: auto;
}

.text-btn img {
  display: inline;
  height: 14px;
  width: auto;
  margin-right: 10px;
}

.btn-round img {
    display: inline;
    width: 50%;
    padding: 25%;
    height: auto;
}

.btn-round.small {
  width: 80px;
  height: 80px;
}

.btn-round.tiny {
  width: 26px;
  height: 26px;
  margin: 2px 0;
  background: #002040;
}

.btn-round.pulse {
  display: block;
  position: relative;
  margin: 50px auto;
  width: 120px;
  height: 120px;
  background: #f2b06f;
  box-shadow: 0 0 0 0 rgba(242,176,111, 0);
  animation: pulse 1.5s linear infinite;
}

.annotation {
  position: absolute;
  visibility: visible;
  opacity: 1;
  line-height: 1.2em;
  font-weight: 300;
  padding-right: 10px;
}

.annotation .title {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: #13639f;
}

.annotation span {
  display: block;
  text-align: right;
  font-size: 12px;
}

.leader-line {
  stroke-width: 2;
  stroke-dasharray: 3, 4;
  stroke-linecap: round;
  stroke: #ffffff;
}


.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in, visibility 200ms;
}

.slide-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 600ms ease-out, visibility 600ms;
     -moz-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 600ms ease-out, visibility 600ms;
       -o-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 600ms ease-out, visibility 600ms;
          transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 600ms ease-out, visibility 600ms;
}

.slide-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
     -moz-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
       -o-transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
          transition: transform 1s cubic-bezier(1.000, 0.000, 0.000, 1.000), opacity 1500ms ease-in, visibility 1.5s;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
       -o-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.slide-out.left {
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
       -o-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-out.right {
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
       -o-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.center {
  text-align: center;
}

@keyframes pulse {
  0%   { box-shadow: 0 0 0 0 rgba(242,176,111, 0); }
  50%  { box-shadow: 0 0 0 10px rgba(242,176,111, 0.3); }
  100% { box-shadow: 0 0 0 20px rgba(242,176,111, 0.0); }
}
